<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/public/javascripts/qrcode/jquery.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/qrcode/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/public/javascripts/qrcode/qrcode.js"></script>
    <title>OTA for PrinceBank Work</title>
</head>

<body>
    <div id="home">
        <h3>Please open with a browser and scan the QR Code</h3>
        <div id="qrcodeTable"></div>

        <h3><a id='cer' href="https://{{ip}}:{{port}}/cer/myCA.cer" style="text-decoration:underline">If [Unable to
                verify server identity] or [Unable to connect] appears, please click this link to install the
                certificate.</a>
        </h3>
        <ul>
            {{#items_ios}}
            <li>
                <img src="/public/ios.png" class="icon" />
                <div class="info">
                    <span class="name">{{name}}</span>
                    <div class="desc">{{description}}</div>
                </div>
                <a href="ipa/{{name}}.ipa" class="link2">Download</a>
                <a href="javascript:;"
                    downloadUrl="itms-services://?action=download-manifest&url=https://{{ip}}:{{port}}/plist/{{name}}"
                    class="link">Install</a>
            </li>
            <hr />
            {{/items_ios}}
        </ul>
        <ul>
            {{#items_android}}
            <li>
                <img src="/public/android.png" class="icon" />
                <div class="info">
                    <span class="name">{{name}}</span>
                    <div class="desc">{{description}}</div>
                </div>
                <a href="apk/{{name}}.apk" class="link2">Download</a>
                <a href="apk/{{name}}.apk" class="link2">Install</a>
            </li>
            <hr />
            {{/items_android}}
        </ul>
    </div>
    <h3 style="text-align:center;"><a id="historyAndroidText" href="javascript:;" onclick="history(1);"
            style="text-decoration:underline">View Android version history</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="historyIOSText" href="javascript:;" onclick="history(2);"
            style="text-decoration:underline;margin-left:20">View iOS version history</a>
    </h3>
    <div id="historyAndroid" style="display:none;">
        <ul>
            {{#history_android}}
            <li>
                <img src="/public/android.png" class="icon" />
                <div class="info">
                    <span class="name">{{name}}</span>
                    <div class="desc">{{description}}</div>
                </div>
                <a href="apk/{{name}}.apk" class="link2">Download</a>
                <a href="apk/{{name}}.apk" class="link2">Install</a>
            </li>
            {{/history_android}}
        </ul>
    </div>
    <div id="historyIOS" style="display:none;">
        <ul>
            {{#history_ios}}
            <li>
                <img src="/public/ios.png" class="icon" />
                <div class="info">
                    <span class="name">{{name}}</span>
                    <div class="desc">{{description}}</div>
                </div>
                <a href="ipa/{{name}}.ipa" class="link2">Download</a>
                <a href="javascript:;"
                    downloadUrl="itms-services://?action=download-manifest&url=https://{{ip}}:{{port}}/plist/{{name}}"
                    class="link">Install</a>
            </li>
            {{/history_ios}}
        </ul>
    </div>
    <script>
        var lastType = 0;
        var url = location.href;
        $('#qrcodeTable').qrcode({
            render: "table",
            text: url
        });
        $('.link').click(function () {
            if (confirm("After clicking install, the app will be downloaded automatically, please return to the desktop to view")) {
                window.location.href = $(this).attr('downloadUrl');
            }
        });
        function history(type) {
            var home = document.getElementById("home");
            var android = document.getElementById("historyAndroid");
            var ios = document.getElementById("historyIOS");
            var androidText = document.getElementById("historyAndroidText");
            var iosText = document.getElementById("historyIOSText");
            //home.style.display = "none";
            if (type == 1) {
                ios.style.display = "none";
                android.style.display = "";
                iosText.style.background = "";
                androidText.style.background = "silver";
                if (type == lastType) {
                    androidText.style.background = "";
                    android.style.display = "none";
                    lastType = 0;
                } else {
                    lastType = type;
                }
            } else {
                android.style.display = "none";
                ios.style.display = "";
                androidText.style.background = "";
                iosText.style.background = "silver";
                if (type == lastType) {
                    iosText.style.background = "";
                    ios.style.display = "none";
                    lastType = 0;
                } else {
                    lastType = type;
                }
            }
        }
    </script>
</body>

</html>